@import '~@angular/material/theming';
@import "src/variables";

.sign-container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
}

.content {
  width: 600px;
  display: block;
  margin: 0 auto;
}

.toolbar {
  justify-content: center;
}

.mat-raised-button {
  width: 100%;
}

.copyright {
  text-align: center;
  font-size: 11px;
  padding-top: 10px;
  color: mat-color($primaryPalette);
}

.error-msg {
  color: mat-color($warnPalette);
}

.success-msg {
  color: mat-color($primaryPalette);
}

.mat-card.border-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.mat-toolbar.border-top {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.mat-toolbar:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgb(139, 195, 74),
  0 1px 1px 0 rgb(139, 195, 74),
  0 1px 2px 0 rgb(139, 195, 74);
}
