@use '~@angular/material' as mat;
@import "~@angular/material/theming";

$warnPalette:    mat.define-palette(mat.$red-palette);
$primaryPalette: mat.define-palette(mat.$teal-palette);
$accentPalette: mat.define-palette(mat.$teal-palette,50);
$menuItemColor: mat.define-palette(mat.$teal-palette,50);
