<div class="sign-container">
  <div class="content">
    <mat-toolbar color="primary" class="toolbar border-top">{{'reset-password.title'| translate}}
    </mat-toolbar>
    <div class="login-wrapper">
      <mat-card class="border-top">
        <p *ngIf="(getState | async).isLinkSent"
           class="success-msg"> {{'reset-password.success-link-sent-message' | translate}}</p>
        <p *ngIf="(getState | async).isPasswordChanged"
           class="success-msg"> {{'reset-password.success-reset-message' | translate}}<a
          routerLink="/login">{{'login-link' | translate}}</a></p>
        <form *ngIf="!(getState | async).isLinkSent && !(getState | async).isPasswordChanged" [formGroup]="registerFrom" (ngSubmit)="onSubmit()">
          <mat-card-content>
            <mat-form-field *ngIf="userId === 0" appearance="outline">
              <mat-label>{{'reset-password.username'| translate}}</mat-label>
              <input matInput name="username" formControlName="username" maxlength="75">
            </mat-form-field>
            <mat-form-field *ngIf="userId >0" appearance="outline">
              <mat-label>{{'reset-password.password'| translate}}</mat-label>
              <input matInput type="password" formControlName="password" maxlength="75">
            </mat-form-field>
            <mat-form-field *ngIf="userId >0" appearance="outline">
              <mat-label>{{'reset-password.retype'| translate}}</mat-label>
              <input matInput type="password" formControlName="reTypePassword"  maxlength="75">
            </mat-form-field>
          </mat-card-content>

          <button mat-raised-button color="primary"
                  [disabled]="registerFrom.invalid">{{'reset-password.reset-pwd-button'| translate}}</button>
        </form>
        <p *ngIf="errorMessage" class="error-msg"> {{errorMessage}}</p>
      </mat-card>
    </div>
  </div>
</div>
